<div class="libros-container">
    <h2>Gestión de Libros</h2>
  
    <div class="actions">
      <button class="btn agregar" (click)="abrirModalNuevoLibro()">Agregar nuevo libro</button>
      <button class="btn prestamo" (click)="registrarPrestamo()">Registrar préstamo</button>
      <button class="btn devuelto" (click)="marcarDevuelto()">Marcar como devuelto</button>
    </div>
  
    <table class="libros-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Título</th>
          <th>Autor</th>
          <th>Editorial</th>
          <th>Género</th>
          <th>Estado</th>
        </tr>
      </thead>
      <tbody>
        @for (libro of libros; track libro.id) {
          <tr>
            <td>{{ libro.id }}</td>
            <td>{{ libro.titulo }}</td>
            <td>{{ libro.autor }}</td>
            <td>{{ libro.editorial }}</td>
            <td>{{ libro.genero }}</td>
            <td [class.prestado]="libro.prestado" >
              {{ libro.prestado ? 'Prestado' : 'Disponible' }}
            </td>
          </tr>
        }
      </tbody>      
    </table>
  </div>
  
  <app-modal [title]="modalTitle" [isVisible]="showModal" >

    <!-- FORMULARIO PARA AGREGAR -->
    @if (accion === 'agregar') {
      <form>
        <label>Id:</label>
        <input type="text" [(ngModel)]="nuevoLibro.id" name="id" />
        <br />
        <label>Título:</label>
        <input type="text" [(ngModel)]="nuevoLibro.titulo" name="titulo" />
        <br />
        <label>Autor:</label>
        <input type="text" [(ngModel)]="nuevoLibro.autor" name="autor" />
        <br />
        <label>Editorial:</label>
        <input type="number" [(ngModel)]="nuevoLibro.editorial" name="editorial" />
        <br />
        <label>Género:</label>
        <input type="number" [(ngModel)]="nuevoLibro.genero" name="genero" />
      </form>
    }
    
  <!-- FORMULARIO PARA REGISTRAR PRÉSTAMO -->
  @if (accion === 'registrarPrestamo') {
    <form>
      <label>ID del Libro:</label>
      <input 
        type="number" 
        [(ngModel)]="libroId" 
        name="libroId" 
        (blur)="cargarDatosLibro()" 
        placeholder="Ingrese ID del libro" 
      />
      <br />

      <label>Título:</label>
      <input type="text" [(ngModel)]="libroSeleccionado.titulo" name="titulo" readonly />
      <br />

      <label>Autor:</label>
      <input type="text" [(ngModel)]="libroSeleccionado.autor" name="autor" readonly />
      <br />

      <label>Editorial:</label>
      <input type="text" [(ngModel)]="libroSeleccionado.editorial" name="editorial" readonly />
      <br />

      <hr />

      <label>CC del Cliente:</label>
      <input 
        type="text" 
        [(ngModel)]="clienteCC" 
        name="clienteCC" 
        (blur)="cargarDatosCliente()" 
        placeholder="Ingrese CC del cliente" 
      />
      <br />

      <label>Nombre:</label>
      <input type="text" [(ngModel)]="clienteSeleccionado.nombre" name="nombre" readonly />
      <br />

      <label>Apellido:</label>
      <input type="text" [(ngModel)]="clienteSeleccionado.apellido" name="apellido" readonly />
      <br />
    </form>
  }
  
    <!-- CONFIRMACIÓN PARA ELIMINAR -->
    <p *ngIf="accion === 'eliminar'">¿Seguro que deseas eliminar este libro?</p>
  
    <div class="actions">
      <button class="btn confirmar" >Confirmar</button>
    </div>
  
  </app-modal>