name: Java CI with Maven

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: maven

      - name: Build with Maven
        run: mvn clean install
      - name: Run tests with Maven
        run: mvn test

      - name: Send failure notification email
        if: failure()
        uses: dawidd6/action-send-mail@v3
        with:
          server_address: smtp.gmail.com
          server_port: 465
          username: ${{ secrets.MAIL_USERNAME }}
          password: ${{ secrets.MAIL_PASSWORD }}
          subject: "Fall칩 el build/test de Maven en GitHub Actions"
          to: juan_alzate82221@elpoli.edu.co, sara_sanchez82221@elpoli.edu.co
          from: "GitHub Actions <${{ secrets.MAIL_USERNAME }}>"
          body: |
            Hola equipo,

            El flujo de integraci칩n continua (CI) de GitHub Actions ha fallado en el repositorio:
            **${{ github.repository }}**

            Rama: ${{ github.ref_name }}
            Commit: ${{ github.sha }}
            Error: Fall칩 el build o los tests de Maven.

            Revisa los logs en: ${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}

            --
            Enviado autom치ticamente por GitHub Actions
